[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "quickReg"]
	path = quickReg
	url = https://github.com/cran/quickReg
	shallow = true
	registered = true
